<section class="features">
  <h3 class="features__header">&ltHere is what you get&gt</h3>
  <article class="features__list">
    <div class="features__item">
      <img
        src="./dist/img/00.png"
        srcset="./dist/img/00@2x.png 2x, ./dist/img/00@3x.png 3x"
        alt="searching in browser"
      />
      <div class="features__item_box-txt">
        <h4>Creatred to Make The Web Better</h4>
        <p>
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="features__item">
      <img
        src="./dist/img/01.png"
        srcset="./dist/img/01@2x.png 2x, ./dist/img/01@3x.png 3x"
        alt="power"
      />
      <div class="features__item_box-txt">
        <h4>Incredibly Powerful Tool</h4>
        <p>
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </p>
      </div>
    </div>
    <div class="features__item">
      <img
        src="./dist/img/02.png"
        srcset="./dist/img/02@2x.png 2x, ./dist/img/02@3x.png 3x"
        alt="experimental botle"
      />
      <div class="features__item_box-txt">
        <h4>Experimental Stuff</h4>
        <p>
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </p>
      </div>
    </div>
    <div class="features__item">
      <img
        src="./dist/img/03.png"
        srcset="./dist/img/03@2x.png 2x, ./dist/img/03@3x.png 3x"
        alt="timer"
      />
      <div class="features__item_box-txt">
        <h4>Creatred to Make The Web Better</h4>
        <p>
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </p>
      </div>
    </div>
  </article>

  <img
    src="./dist/img/editor1.png"
    srcset="./dist/img/editor1@2x.png 2x, ./dist/img/editor1@3x.png 3x"
    alt=""
    class="features__editor"
  />
</section>
