.github {
  @media screen and (min-width: 1200px) {
    &__header {
      @include main-font(
        Montserrat,
        convert-em(54),
        700,
        convert-em(54),
        #635c73,
        uppercase
      );
    }
  }
}

.features {
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "ls hr"
      "ls img";
    background-color: #f4f4f4;
    margin-bottom: 0;
    padding-top: convert-rem(80);
    padding-bottom: convert-rem(40);

    &__header {
      grid-area: hr;
      order: 1;
      margin-bottom: convert-rem(30);
      text-align: left;
      @include main-font(
        Montserrat,
        convert-em(39),
        700,
        convert-em(15),
        #8d81ac,
        none
      );
    }
    &__list {
      grid-area: ls;
      padding: 0 convert-rem(40);
    }

    &__editor {
      grid-area: img;
      order: 1;
      margin: 0;
      padding: 0;
      object-position: convert-rem(-15) convert-rem(0);
    }
  }
}

.subscription {
  @media screen and (min-width: 1200px) {
    padding-bottom: convert-rem(20);
    &__header {
      margin-bottom: convert-rem(60);
    }
    &__box {
      display: flex;
      flex-direction: row;
      margin: convert-rem(20) auto;
    }
    &__item {
      margin: 0 convert-rem(7.5);
    }
    .active {
      margin: 0 convert-rem(8);
    }
  }
}
