//FUNCTIONS FOR CONVERT THE PX INTO REM, EM
@function convert-rem($px) {
  $result: $px / 16;
  @return $result + rem;
}

@function convert-em($px) {
  $result: $px / 16;
  @return $result + em;
}

//MIXINS FROM DIMA(task1)
@mixin flex($vertical, $horisontal, $direction: "row") {
  display: flex;
  justify-content: $vertical;
  align-items: $horisontal;
  flex-direction: $direction;
}

@mixin basic-font400 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

@mixin basic-font700 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

@mixin second-font400 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

@mixin second-font700 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

@mixin second-font-italic400 {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;
}

@mixin second-font-italic700 {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0px;
}
@mixin font-montserrat700 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

@mixin for-tablet {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 993px) {
    @content;
  }
}

//MIXINS FROM ELIJAH(task2)
@mixin main-font($name, $size, $wgh, $lh, $clr, $fn-trf) {
  font-family: $name, sans-serif;
  font-weight: $wgh;
  font-size: $size;
  line-height: $lh;
  color: $clr;
  text-transform: $fn-trf;
}

@mixin flexE($wrap: wrap, $dir: column, $js-con: center, $al-it: center) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $dir;
  justify-content: $js-con;
  align-items: $al-it;
}
