.subscription {
  background-image: url(./img/bg-price.png);
  background-size: cover;
  text-align: center;
  padding-bottom: convert-rem(20);
  &__header {
    padding-top: convert-rem(16);
    padding-bottom: convert-rem(32);
    @include main-font(
      Montserrat,
      convert-em(28),
      700,
      convert-em(42),
      #ffffff,
      none
    );
  }

  // price cards
  &__box {
    @include flexE($wrap: wrap, $dir: unset, $js-con: center, $al-it: center);
  }
  &__item {
    width: convert-rem(257);
    height: convert-rem(457);
    margin: convert-rem(18) auto;
    &_header {
      width: convert-rem(257);
      height: convert-rem(97);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff1f;
      @include main-font(
        Montserrat,
        convert-em(24),
        400,
        convert-em(24),
        #ffffff,
        uppercase
      );
    }
  }

  &__info {
    padding-top: convert-rem(30);
    padding-bottom: convert-rem(20);
    background-color: #ffffff15;
    @include flexE();
    &_price-txt {
      @include main-font(
        Montserrat,
        convert-em(14),
        400,
        convert-em(16),
        #ffffff,
        uppercase
      );
    }

    &_price-txt:nth-child(1)::after {
      margin: convert-rem(38) auto;
      display: block;
      content: "";
      width: 60px;
      height: 5px;
      background: #8d81ac;
    }

    &_price {
      @include main-font(
        Montserrat,
        convert-em(60),
        700,
        convert-em(25),
        #ffffff,
        uppercase
      );
    }

    &_descript {
      @include main-font(
        Montserrat,
        convert-em(16),
        400,
        convert-em(18),
        #ffffff,
        none
      );
    }
    &_descrip {
      @include main-font(
        Montserrat,
        convert-em(16),
        400,
        convert-em(36.8),
        #ffffff,
        none
      );
    }
  }

  &__btn {
    width: convert-rem(160);
    height: convert-rem(42);
    margin: convert-rem(38) convert-rem(47);
    background-color: #ffffff1f;
    border: none;
    border-radius: convert-rem(50);
    cursor: pointer;
    @include main-font(
      Montserrat,
      convert-em(15),
      400,
      convert-em(15),
      #ffffff,
      uppercase
    );
  }
  &__btn:focus {
    border: none;
    background-color: #ffffff56;
    outline: none;
  }

  .active {
    width: convert-rem(299);
    height: convert-rem(560);
    margin: convert-rem(18) auto;
    .subscription__item_header {
      width: convert-rem(299);
      height: convert-rem(111);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0000004d;
    }
    .subscription__info {
      background-color: #00000041;
    }
    .subscription__info_price-txt {
      @include main-font(
        Montserrat,
        convert-em(16),
        400,
        convert-em(32),
        #ffffff,
        uppercase
      );
    }
    .subscription__info_price {
      @include main-font(
        Montserrat,
        convert-em(82),
        700,
        convert-em(24),
        #ffffff,
        uppercase
      );
    }
    .subscription__info_descript {
      @include main-font(
        Montserrat,
        convert-em(16),
        400,
        convert-em(32),
        #ffffff,
        none
      );
    }
  }
}
